//- HELPERS
mixin block(key, marker=false)
	- global.my_blocks = global.my_blocks || {}
	if marker
		if global.my_blocks[key]
			- let temp = {}
			- temp[key] = global.my_blocks[key]
			- global.my_blocks[key] = null
			- temp[key]()
		else
			block
	else
		- global.my_blocks[key] = this.block

//- HELPERS

mixin sectionHeader(icon='clipboard-plus',title='Заголовок блока', linkText)
	.section-header
		.section-header__row
			if icon
				.section-header__icon-wrapper
					img(src=`/assets/img/icon-${icon}.svg`, alt=`${title}`)
			p.section-header__title!= title
		if linkText
			a(href="#").section-header__link.button= linkText

mixin breadcrumbs(crumbs)
	.breadcrumbs
		.container
			each item in crumbs
				a(href="#").breadcrumb= item

mixin pageHero(icon, title, text="Благодаря современным технологиям, многолетней практике и бесценным знаниям наши стоматологи могут справиться с любой проблемой полости рта.", linkText="Записаться на прием", isServiceInner=false)
	section.section.page-hero
		.container
			.page-hero__wrapper
				img(src="/assets/img/page-service-hero.jpg").page-hero__img
				.page-hero__card
					if isServiceInner
						img(src=`/assets/img/services-icon-05.svg`).page-hero__full-icon
					else
						.page-hero__icon
							img(src=`/assets/img/icon-${icon}.svg`)
					.page-hero__column
						p.page-hero__title= title
						p.page-hero__text= text
						button.page-hero__button.button.button--outline= linkText
